li{
list-style: none;
}

.header{
background: -webkit-linear-gradient(right, salmon, orange 100%);
height: 80px;
margin: auto;
width: 85%;
border-radius: 20px;
}

.header-logo{
float:left;
padding: 10px 20px;		
}

.header-logo img{
height: 60px;
weight: 200px;
}

.header-list li{
float:right;
padding: 33px 20px;
}

.header-list a {
text-decoration: none;
color:#fff;
}

.header-list a:hover {
color:#000;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
text-align: center;
width: 100px;
box-shadow: 0px 8px 100px 0px rgba(0,0,0,0.2);
padding: 5px 5px;
border-radius: 5px;
background: -webkit-linear-gradient(right, salmon , orange 100%);
}

.dropdown:hover .dropdown-content {
 display: block;
}

.dropdown-content li{
height: 1px;
margin: auto;
width: 85%;
}

.main{
height: 600px;
background-size: 1350px 601px;
background-image: url("images/05.jpg");
background-repeat: no-repeat;
padding: 0.1px 0;
}

.copy-container h1{
font-family: Calibri;
font-size:100px;
color:#fff;
text-align:center;	
}

.copy-container h2{
font-family: Arial;
font-size:25px;
color:#fff;
text-align:center;
}

.copy-container span{
color: #ff4a4a;
}

.middle {
text-align: left;
height: 400px;
padding: 0 70px;
}

.middle p {
font-family: Arial, Helvetica, sans-serif;
font-size: 23px;
color:#807271;
}

.footer{
background-color: #2f5167;
color:#fff;
height: 60px;
padding:40px;
}

.footer-logo{
font-size: 32px;
float:left;
}

.footer-list{
float:right;
}

.footer-list li{
padding-bottom:20px;
}	

.footer-list a {
text-decoration: none;
color:#fff;
}